.imageModal {
    display: block;
    object-fit: contain;
    width: 90%;
    height: 90%;
  }
  .textContainer {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(29, 27, 27, 0.692);
  }
  
  .modalText {
    color: white;
    text-align: center;
  }